{% extends "home.html" %}
{% block content %}
    <form action="" method="post" novalidate>
        <p>
            {{form.cityname.label}}
            <br>
            {{form.cityname(size=32)}}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li> {{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
{% endblock %}